cylinder2mod/cylinder2mod
errfun_test/errfun_test
try-zbesj/besj-f77
try-zbesj/besj-f90
*~
multem2mod/multem2
cmake-build-debug
multem2orig/multem2orig

test
*.zip
*.tar.gz
*.pdf
*.txt
fort.*
.idea
*.bak
*.png
*.npz
*.mod
*.dat
*.a
*.cbp
