CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
CMakeFiles
Makefile

FiNeR/lib/
FiNeR/src/third_party/BeFoR64/lib/
FiNeR/src/third_party/FACE/lib/
FiNeR/src/third_party/FLAP/lib/
FiNeR/src/third_party/PENF/lib/
FiNeR/src/third_party/StringiFor/lib/
FiNeR/src/third_party/fortran_tester/cmake/fortran_tester-config.cmake
FiNeR/src/third_party/fortran_tester/cmake/fortran_tester-targets.cmake
FiNeR/tests/

cylinder2mod/cylinder2mod
errfun_test/errfun_test
try-zbesj/besj-f77
try-zbesj/besj-f90
*~
multem2mod/multem2
cmake-build-debug
multem2orig/multem2orig

test
*.zip
*.tar.gz
*.pdf
fort.*
.idea
*.bak
*.png
*.npz
*.mod
*.dat
*.a
*.cbp
#*#
build
