CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
CMakeFiles
Makefile


*~
cmake-build-debug

test
*.zip
*.tar.gz
*.pdf
fort.*
.idea
*.bak
*.png
*.npz
*.mod
*.dat
*.a
*.cbp
\#*\#
build
*.so
*f2pywrappers.f
*.pyc
